@model Order

<h2>Thanks!</h2>
<p>Thanks for placing your order.</p>
<p>We'll ship your goods as soon as possible.</p>

<h3>Order Details</h3>
<p><strong>Name:</strong> @Model.Name</p>
<p><strong>Address:</strong><br />
    @Model.Line1<br />
    @if (!string.IsNullOrEmpty(Model.Line2))
    {
        @Model.Line2<br />
    }
    @if (!string.IsNullOrEmpty(Model.Line3))
    {
        @Model.Line3<br />
    }
    @Model.City, @Model.State @Model.Zip<br />
    @Model.Country
</p>

<p><strong>Gift Wrap:</strong> @(Model.GiftWrap ? "Yes" : "No")</p>

<hr />

<div class="text-center">
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return to Store</a>
</div>